$primary: #2FB0BD;
$primary_dark: #0071A2;
$secondary: #F38F23;
$secondary_dark: #E26439;
$light: #FAFAFA;
$dark: #242325;

* {
    font-family: 'Libre Caslon Text', serif;
}

.primary-hover:hover {
    color: #0071A2;;
}

.secondary-hover:hover {
    color: #E26439;;
}